#previousMonth {
	-fx-background-image: url("../assets/previous.png");
	-fx-background-color:transparent;
	-fx-background-size:  30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#nextMonth {
	-fx-background-image: url("../assets/next.png");
	-fx-background-color:transparent;
	-fx-background-size:  30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.calendar-slot {
	-fx-border-color: -color-gridpane-gap;
	-fx-padding: 0.5%;
	-fx-background-color: -color-background-lighter;
}


.splitpane {
    -fx-background-insets: 0, 0;
    -fx-box-border: transparent;
    -fx-padding: 0;
}

.list-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}