Slider .thumb {
	-fx-background-color: -color-accept-regular;
}

Slider .track {
	-fx-background-color: -color-background-lighter;
}


/* HTMLEditor*/

.toggle-button {
	-fx-background-color: -color-background-lighter;
	-fx-text-fill: -color-text;
}

.toggle-button:hover,
.toggle-button:selected {
	-fx-background-color: -color-controls-hover;
}

.html-editor {
 -fx-background-color: -color-background-lighter;
 -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.html-editor .grid .web-view .scroll-bar {
-fx-background-color: -color-background;
}

.html-editor .grid .web-view .scroll-bar .track-background, 
.html-editor .grid .web-view .scroll-bar  .track,
.html-editor .grid .web-view .scroll-bar .increment-button,  
.html-editor .grid .web-view .scroll-bar .decrement-button {
	-fx-opacity: 0;
}

.html-editor .grid .web-view .scroll-bar .thumb {
	-fx-background-color: -color-controls-hover;
}

.html-editor .top-toolbar {
    -fx-max-width: 0px;
    -fx-min-width: 0px;
    -fx-pref-width: 0px;
    -fx-max-height: 0px;
    -fx-min-height: 0px;
    -fx-pref-height: 0px;
    -fx-opacity: 0;
}

.html-editor .bottom-toolbar:horizontal {
	-fx-background-color: -color-background-even-more-lighter;
}

.html-editor .bottom-toolbar:horizontal .container .separator {
	-fx-opacity: 0;	
}

.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view .virtual-flow .list-cell:hover,
.html-editor .bottom-toolbar:horizontal .container .html-editor-hr:hover,
.html-editor .bottom-toolbar:horizontal .container .font-menu-button,
.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view .virtual-flow .scroll-bar .thumb {
	-fx-background-color: -color-controls-hover;
}

.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-cell {
	-fx-text-fill: -color-text;
}

.html-editor .bottom-toolbar:horizontal .container .html-editor-hr,
.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view,
.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view .virtual-flow .list-cell,
.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view .virtual-flow .scroll-bar {
	-fx-background-color: -color-background-lighter;
}

.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view .virtual-flow .scroll-bar .track-background, 
.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view .virtual-flow .scroll-bar .track,
.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view .virtual-flow .scroll-bar .increment-button,  
.html-editor .bottom-toolbar:horizontal .container .font-menu-button .list-view .virtual-flow .scroll-bar .decrement-button {
	-fx-opacity: 0;
}


/* Attachments */

.btn-attachment {
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.btn-attachment-from-file {
	-fx-background-image: url("../assets/file_present.png");
}

.btn-attachment-from-clipboard {
	-fx-background-image: url("../assets/clipboard.png");
}

.btn-attachment-mic {
	-fx-background-image: url("../assets/microphone.png");
}

.btn-attachment-mic:recording {
	-fx-background-image: url("../assets/microphone_red.png");
}

.btn-attachment-remove {
	-fx-background-image: url("../assets/trashRed.png");
}

.toolbar-attachments {
	-fx-background-color: -color-background-even-more-lighter;
}

.scroll-pane .scroll-bar:vertical {
	-fx-background-color: -color-background-lighter;
}

.scroll-pane .scroll-bar:vertical .track-background, 
.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:vertical .increment-button,  
.scroll-pane .scroll-bar:vertical .decrement-button {
	-fx-opacity: 0;
}

.scroll-pane .scroll-bar .thumb {
	-fx-background-color: -color-controls-hover;
}

.attachments-list, .scroll-pane {
	-fx-background-color: -color-background-lighter;
}

.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: -color-background;
}

.tab-pane .tab-header-area .headers-region .tab {
	-fx-background-color: -color-background-even-lighter;
}

.tab-pane .tab-header-area .headers-region .tab .tab-label {
	-fx-text-fill: -color-text;
}

.tab-pane .tab-header-area .headers-region .tab:disabled .tab-label {
	-fx-text-fill: -color-text;
	-fx-opacity: 1.0;
	-fx-font-size: 14pt;
}

.tab-pane .tab-header-area .headers-region .tab:disabled {
	-fx-text-fill: -color-text;
	-fx-opacity: 1.0;
	-fx-background-color: transparent;
	-fx-padding: 4px 12px 4px 4px;
}

.tab-pane .tab-header-area .headers-region .tab:selected {
	-fx-border: none;
	-fx-focus-color: transparent;
}

.preview-image {
	-fx-background-color: -color-background-even-lighter;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
	-fx-border-width: 3px;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-border-color: transparent;
}

.preview-image:selected {
	-fx-border-color: -color-accept-regular;
}
