.root {
	-fx-background-color: #292b2c;
	/*-fx-background-color: #303232;*/
	
	-color-base: #000000;
	
	-color-gridpane-gap: #666666;
	
	-color-text: #DEDEDE;
	-color-text-greyed-out: #888888;
	
	-color-background: #292B2C;
	-color-background-lighter: #383838;
	-color-background-even-lighter: #3D3D3D;
	-color-background-even-more-lighter: #444444;
	
	-color-controls-regular: #383838;
	-color-controls-hover: #5C5C5C;
	-color-controls-disabled: #C9C9C9;
	
	-color-cancel-regular: #D9534F;
	-color-cancel-hover: #FA6C68;
	-color-cancel-disabled: #F6807D;
	
	-color-accept-regular: #148F77;
	-color-accept-hover: #38AF97;
	-color-accept-disabled: #5C877E;
}
