/* TreeView */

.tree-view .virtual-flow .scroll-bar:horizontal,
.tree-view .virtual-flow .scroll-bar:horizontal .track,
.tree-view .virtual-flow .scroll-bar:horizontal .track-background,
.tree-view .virtual-flow .scroll-bar:vertical,
.tree-view .virtual-flow .scroll-bar:vertical .track,
.tree-view .virtual-flow .scroll-bar:vertical .track-background,
.tree-view .virtual-flow .corner {
	-fx-background-color: transparent;
}

.tree-view .virtual-flow .scroll-bar .increment-button,
.tree-view .virtual-flow .scroll-bar .decrement-button {
	-fx-opacity: 0;
}

.tree-view .virtual-flow .scroll-bar:horizontal .thumb,
.tree-view .virtual-flow .scroll-bar:vertical .thumb {
	-fx-background-color: -color-controls-hover;
}

.tree-view {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
	-fx-background-color: transparent;
}

.tree-cell:hover {
  -fx-background-color:-color-background; 
  -fx-background-size: 25px 25px;
}

.tree-cell:selected {
  -fx-background-color:-color-accept-regular;
}

.tree-cell .arrow  {
  -fx-background-color:-color-text;
}

.tree-cell {
    -fx-background-color: -color-controls-regular;
    -fx-text-fill: -color-text;
}

/* Icons */

#trashCard, #trashDeck {
	-fx-background-image: url("../assets/trashRed.png");
	-fx-background-color:transparent;
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addCard, #addDeck {
	-fx-background-image: url("../assets/addGreen.png");
	-fx-background-color:transparent;
	-fx-background-size:  30px 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#import {
	-fx-background-image: url("../assets/import.png");
	-fx-background-color:transparent;
	-fx-background-size:  20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#export {
	-fx-background-image:url("../assets/export.png");
	-fx-background-color:transparent;
	-fx-background-size:  20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#editCard,#editDeck {
	-fx-background-image: url("../assets/edit.png");
	-fx-background-color:transparent;
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#search {
	-fx-background-image: url("../assets/search.png");
	-fx-background-color:transparent;
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

 /* Icon-hovers */

#deck:hover,
#trashCard:hover,
#trashDeck:hover,
#editCard:hover,
#editDeck:hover,
#search:hover {
	-fx-background-size: 30px 30px;
}

#export:hover,
#import:hover {
	-fx-background-size: 25px 25px;
}

#addCard:hover,#addDeck:hover {
	-fx-background-size: 35px 35px;
}
