.root{
    -fx-background-color: -color-background;
}

.button-bar,
.header-panel {
    -fx-background-color: transparent;
}

#Ok {
	-fx-background-color: -color-accept-regular;
}

#Ok:hover {
	-fx-background-color: -color-accept-hover;
}

#Cancel {
	-fx-background-color: -color-cancel-regular;
}

#Cancel:hover {
	-fx-background-color: -color-cancel-hover;
}

.combo-box-base .list-cell:selected,
.combo-box-base .list-cell:hover,
.combo-box-base .arrow-button:hover,
.button:hover {
	-fx-background-color: -color-controls-hover;
}

.text-field,
.button,
.combo-box-base .list-cell,
.combo-box-base {
    -fx-background-color: -color-controls-regular;
	-fx-text-fill: -color-text;
}

.combo-box-base .arrow-button {
    -fx-background-color: -color-controls-regular;
}

.label {
    -fx-text-fill: -color-text;
}


.information{
    -fx-graphic: url("../assets/information.png");
}

.confirmation{
    -fx-graphic: url("../assets/attention.png");
}

.error{
    -fx-graphic: url("../assets/error.png");
}

.text-input-dialog{
   -fx-graphic: url("../assets/input.png");
}

.choice-dialog{
    -fx-graphic: url("../assets/gear.png");
}