.root {
    -fx-background-image: url("../assets/easterBackground.jpg");
    -fx-background-size: 100% 100%;
}

.label{
    -fx-border-color: green;
    -fx-alignment: center;
}

.button{
    -fx-background-color: transparent;
}