.tab-pane .tab {
	-fx-background-color:-color-background-lighter;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.tab-pane .tab:selected {
	-fx-background-color:-color-background;
	-fx-focus-color: transparent;
	-fx-background-insets: 0, 1 1 0 1;
	-fx-background-radius: 5 5 0 0, 4 4 0 0;
}

.tab-pane:left .tab-header-area .headers-region .tab:selected:left .tab-container .focus-indicator {
	-fx-border-color: transparent;
}

.tab-pane:left .tab-header-area .tab-header-background {
	-fx-background-color: -color-background-even-lighter;
}

.tab-pane:left .tab-header-area .control-buttons-tab .container .tab-down-button,
.tab-pane:left .tab-header-area .control-buttons-tab .container .tab-down-button .arrow {
    -fx-background-color: transparent;
    -fx-scale-x: 0.001;
    -fx-scale-y: 0.001;
}

.menu-bar {
	-fx-background-color:-color-background-lighter;
	
}

.menu-bar .label {
     -fx-text-fill: -color-text;
}

.menu-bar .menu-button:hover {
	 -fx-background-color:-color-background-even-lighter;
}


#MenuBar {
	-fx-text-fill: -color-text;
}

MenuItem,
.menu-item:focused {
	-fx-background-color:-color-background-lighter;
	-fx-text-fill: -color-text;
	-fx-border-color: transparent;
}

.menu-item:hover {
	-fx-background-color:-color-background-even-lighter;
}

.context-menu {
	-fx-background-color:-color-background-lighter;
}

.menu:hover,
.menu:showing {
	-fx-background-color:-color-background-lighter;
}