/*Noch nicht in die main.cc ausgelagert, da das ja noch ziemlich WIP ist*/
.pane {
	-fx-background-color: -color-background-lighter;
}

.table-view .column-header-background .label {
	-fx-background-color: -color-controls-hover;
}
.table-view {
   -fx-background-color: -color-controls-regular;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color:-color-controls-hover;	
}

.splitpane {
	-fx-background-insets: 0, 0;
	-fx-box-border: transparent;
	-fx-padding: 0;
}

.button {
	-fx-background-color: -color-background-lighter;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0, 0.0, 0.0, 0.0);
}

#HomeSplitpaneLeft {
	-fx-background-color: -color-background;
}

#HomeSplitpaneRight {
	-fx-background-color: -color-background;
}

.split-pane .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;  
    -fx-background-color: -color-background-lighter;
} 

#Splitpane {
	-fx-background-insets: 0, 0;
	-fx-box-border: transparent;
	-fx-padding: 0;
}




#Deck:hover {
	-fx-background-size: 30px 30px;
}

.table-view{
	-fx-background-color: -color-controls-regular;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.table-view:hover{
	-fx-background-color: -color-controls-regular;
}

.table-view .column-header .label {
	-fx-text-fill: white;
}

.table-view .column-header .arrow {
	-fx-background-color: -color-text;
}

.table-view .column-header {
	-fx-background-color:-color-controls-hover;
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
	-fx-background-color:-color-controls-hover;
}

.table-view .corner {
	-fx-background-color: transparent;
}

.table-view .table-cell {
	-fx-border-color: transparent;
	-fx-text-fill:-color-text;
}

.table-row-cell:even {
	-fx-background-color: -color-background-lighter;
}

.table-row-cell:odd {
	-fx-background-color: -color-background-even-lighter;
}

.table-row-cell:hover {
	-fx-background-color: -color-background;
}

.table-row-cell:selected {
	-fx-background-color: -color-accept-regular;
}

.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background,
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background {
	-fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
	-fx-opacity: 0;
}

.chart {
	-fx-background-color: -color-background-lighter;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0, 0.0, 0.0, 0.0);
}

.vbox {
	-fx-background-color: -color-background;
}
