.root,
.vBox {
	-fx-background-color: -color-background;
}

.split-pane .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
    -fx-background-color: -color-background-lighter;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.combo-box .list-cell
{
	-fx-background: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
	-fx-background-color: -color-background-lighter;
}

.combo-box-base{
	-fx-background-color: -color-background-lighter;
	-fx-padding: 0;
}

.combo-box > .list-cell:selected > .text{
	-fx-fill: white;
}

.text-area{
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
	-fx-border-color: -color-background-lighter;
	-fx-border-width: 0px;
	-fx-background-insets: 0;
	-fx-background-color: -color-background-lighter;
}
.text-area .content{
	-fx-background-color: -color-background-lighter;
}

.text-area:focused {
	-fx-background-color: -color-controls-hover;
	-fx-text-fill:-color-text;
}

.text-area:hover {
	-fx-background-color: -color-controls-hover;
}

.text-area .scroll-pane:fitToWidth:fitToHeight .viewport .content .text{
}


#splitpane {
	-fx-background-insets: 0, 0;
	-fx-box-border: transparent;
	-fx-padding: 0;
	-fx-background-color: -color-background;
}

.greyed-out {
	-fx-font-size: 10px;
	-fx-text-fill: -color-text-greyed-out;
	-fx-padding: 5px;
}

.day {
	-fx-font-size: 10px;	
	-fx-padding: 5px;
}

.label {
	-fx-text-fill: -color-text;
}

.text-field {
	-fx-background-color:-color-background-even-lighter;
	
	-fx-text-fill:-color-text;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0, 0.0, 0.0, 0.0);
}

.text-field:focused {
    -fx-background-color: -color-controls-hover;
    -fx-text-fill:-color-text;
}

.text-field:hover {
	-fx-background-color: -color-controls-hover;
}

.button {
	-fx-text-fill: -color-text;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0, 0.0, 0.0, 0.0);
}

.btn-previous {
	-fx-background-image: url("../assets/previous.png");
	-fx-background-color:transparent;
	-fx-background-size:  30px 30px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.btn-navigator:hover{
	-fx-background-color: -color-background-lighter;
}

.btn-next {
	-fx-background-image: url("../assets/next.png");
	-fx-background-color:transparent;
	-fx-background-size:  30px 30px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.btnNeutral {
	-fx-background-color: -color-controls-regular;
}

.btnNeutral:hover {
	-fx-background-color: -color-controls-hover;
}
	
.btnRed {
	-fx-background-color: -color-cancel-regular;
}

.btnRed:hover {
	-fx-background-color: -color-cancel-hover;
}

.btnGreen {
	-fx-background-color: -color-accept-regular;	
}

.btnGreen:hover {
	-fx-background-color: -color-accept-hover;	
}

.check-box {
	-fx-text-fill: -color-text;
}

.check-box .box {
	-fx-background-color:-color-background-lighter;
}

.check-box:selected .box .mark,
.check-box:indeterminate .box .mark {
	-fx-background-color: white;
}

.list-view {
	-fx-background-color: -color-background-lighter;
}

.list-view .list-cell:even {
	-fx-background-color: -color-background-lighter;
}

.list-view .list-cell:odd {
	-fx-background-color: -color-background-even-lighter;	
}

.list-view .list-cell {
	-fx-border-color: transparent;
	-fx-text-fill:-color-text;
}

.list-view .list-cell:hover,
.list-view .list-cell:selected {
	-fx-background-color: -color-accept-regular;	
}

.list-view:focused {
	-fx-background-color: transparent;
}

.list-view .virtual-flow .scroll-bar:horizontal,
.list-view .virtual-flow .scroll-bar:horizontal .track,
.list-view .virtual-flow .scroll-bar:horizontal .track-background,
.list-view .virtual-flow .scroll-bar:vertical,
.list-view .virtual-flow .scroll-bar:vertical .track,
.list-view .virtual-flow .scroll-bar:vertical .track-background,
.list-view .virtual-flow .scroll-bar .increment-button,
.list-view .virtual-flow .scroll-bar .decrement-button,
.list-view .virtual-flow .scroll-bar .increment-button .increment-arrow,
.list-view .virtual-flow .scroll-bar .decrement-button .decrement-arrow,
.list-view .virtual-flow .corner,
.list-view .virtual-flow .scroll-bar:horizontal .thumb,
.list-view .virtual-flow .scroll-bar:vertical .thumb {
	-fx-background-color: transparent;
	-fx-scale-x: 0.001;
    -fx-scale-y: 0.001;
}

.table-view {
   -fx-background-color: -color-controls-regular;
   -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.table-view:hover {
   -fx-background-color: -color-controls-regular;
}

.table-view .column-header .label {
    -fx-text-fill: -color-text;
}

.table-view .column-header {
	-fx-border-width: 0.5px;
	-fx-border-color: -color-background-lighter;
}

.table-view .column-header .arrow {
	-fx-background-color: -color-text;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color:-color-controls-hover;	
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .table-cell {
	-fx-border-color: transparent;
	-fx-text-fill:-color-text;
}

.table-row-cell:even {
	-fx-background-color: -color-background-lighter;
}

.table-row-cell:odd {
	-fx-background-color: -color-background-even-lighter;	
}

.table-row-cell:hover {
	-fx-background-color: -color-background;	
}

.table-row-cell:highlighted,
.table-row-cell:selected {
	-fx-background-color: -color-accept-regular;
}

.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background,
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .corner {
	-fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
	-fx-opacity: 0;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb,
.table-view .virtual-flow .scroll-bar:vertical .thumb {
	-fx-background-color: -color-controls-hover;
}