.btn-attachment {
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    
    -fx-background-image: url("../assets/attachment.png");
}

.btn-attachment:disabled {
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    
    -fx-background-image: url("../assets/attachment_white.png");
}
