.spinner,
.spinner:focused,
.spinner:contains-focus {
	-fx-background-color: transparent;
	-fx-text-fill: -color-text;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-background-color: -color-background-even-lighter;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color: -color-text;
}

