.btn-icon {
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 25px;
}

.btn-play {
	-fx-background-image: url("../assets/play.png");
}

.btn-play:playing {
	-fx-background-image: url("../assets/pause.png");
}

Slider .track {
	-fx-background-color: -color-background-even-more-lighter;
}

Slider .thumb {
	-fx-background-color: -color-accept-regular;
}

.music-background {
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: contain;
	-fx-background-image: url("../assets/music_video.png");
}
