.chart {
	-fx-background-color: -color-background-lighter;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 10.0, 0.0, 0.0, 0.0);
}

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: -color-text;
    -fx-tick-length: 12;
    -fx-minor-tick-length: 6;
}

.progress-bar .track {
	-fx-background-color: -color-cancel-regular;
}

.progress-bar .bar {
	-fx-background-color: -color-accept-regular;
	-fx-background-insets: 0px;
}

.chart-legend {
	-fx-background-color: -color-background-even-more-lighter;
}

.chart-legend .chart-legend-item {
	-fx-text-fill: -color-text;
}

.chart .chart-plot-background {
	-fx-background-color: -color-background-even-more-lighter;
}

.cw-per-day .default-color0.chart-area-symbol { -fx-background-color: -color-accept-regular, -color-background-even-more-lighter; }
.cw-per-day .default-color0.chart-series-area-line { -fx-stroke: -color-accept-regular; }
.cw-per-day .default-color0.chart-series-area-fill { -fx-fill: #148F7755; }

.cw-per-day .default-color1.chart-area-symbol { -fx-background-color: -color-cancel-regular, -color-background-even-more-lighter; }
.cw-per-day .default-color1.chart-series-area-line { -fx-stroke: -color-cancel-regular; }
.cw-per-day .default-color1.chart-series-area-fill { -fx-fill: #D9534F55; }

.chart-pie-label {
	-fx-fill: -color-text;
}

.btn-EasterEgg {
	-fx-background-image: url("../assets/easteregg.png");
	-fx-background-color:transparent;
	-fx-background-size:  32px 32px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
.btn-EasterEgg:hover {
	-fx-background-size: 35px 35px;
}