.scroll-pane .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:horizontal .track-background,
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:vertical .track-background,
.scroll-pane .corner {
	-fx-background-color: transparent;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
	-fx-opacity: 0;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
	-fx-background-color: -color-controls-hover;
}